# To run the project, copy this file and rename to '.env'
# Some fields are filled with default values

# General
PROJECT_NAME=zpp-app-backend-dev
BACKEND_CORS_ORIGINS=["http://localhost:8000", "https://localhost:8000", "http://localhost", "https://localhost"]
SKIP_AUTH=False

# Auth0
AUTH0_DOMAIN=your.domain.auth0.com
AUTH0_API_AUDIENCE=https://your.api.audience
AUTH0_ISSUER=https://your.domain.auth0.com/
AUTH0_ALGORITHMS=RS256

# Database settings
POSTGRES_USER=zpp_pg_user
POSTGRES_PASSWORD=zpp_pg_pwd
POSTGRES_DB=zpp_pg_db
POSTGRES_HOST=db

# Currently unused:
#
# # Google maps api key
# GOOGLE_MAPS_API_KEY=
