fastapi[standard]~=0.115.10
uvicorn[standard]~=0.34.0
pydantic~=2.10.6
pydantic-settings~=2.8.1
geoalchemy2~=0.17.1

# File upload
aiofiles~=24.1.0
python-multipart==0.0.20

# Database
sqlmodel==0.0.23
psycopg2-binary~=2.9.10

# Authentication
pyjwt[crypto]~=2.10.1
