// To run the project, rename this file to env.js and fill the required variables

// Note that the Google Maps Api Key is a client-side api key and must be exposed
// to the user for the map to work

export const GOOGLE_MAPS_API_KEY = ''
